// Form Styles
.contact-form {
	display: none;
	flex-direction: column;
	//grid-template-columns: 1fr;
	padding: 0rem 2rem;
	justify-content: center;
	//grid-gap: 1rem;
	background-color: $color-form;
	height: 525px;
	@media only screen and (max-width: 800px) {
		width: 100%;
		padding: 0 1rem;
	}
	h3 {
		margin-bottom: 1rem;
		color: $font-color-form;
		font-size: $font-ml;
		font-weight: $font-semi-bold;
		text-align: center;
		letter-spacing: 2px;
	}
	input {
		padding: 0.5rem;
		margin-bottom: 1rem;
		border: none;
		font-size: $font-s;
	}
	::placeholder {
		font-size: $font-r;
		font-weight: 300;
	}
	button {
		padding: 0.75rem 0;
		border: none;
		background-color: $color-primary;
		font-size: $font-m;
		font-weight: $font-bold;
		color: $white-color;
		margin-bottom: 1rem;
	}
	fieldset {
		padding-left: 1.25rem;
		padding-right: 1.25rem;
		margin-bottom: 1rem;
		position: relative;
		line-height: 1.1;
		input {
			//align-self: flex-start;
			//position: relative;
			position: absolute;
			top: 0.15rem;
			left: 0rem;
		}
	}
	select {
		margin-bottom: 1rem;
		padding: 0.25rem;
		border: none;
		border-radius: none;
		font-size: $font-r;
		width: 100%;
	}
	.form__disclaimer {
		color: $grey-color;
		font-size: $font-s;
		font-weight: $font-light;
		margin-bottom: 1rem;
		display: inline;
		width: 4rem;
	}
	p {
		text-align: center;
		font-size: $font-s;
		color: $grey-color;
	}
	#number {
		width: 100%;
	}
}
