.nav-wrapper {
	background: $color-primary;
	.nav-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		color: $font-color-primary;
		@media only screen and (max-width: 600px) {
			grid-template-columns: 1fr 1fr 1fr;
			padding: 1rem;
			justify-items: center;
			align-items: center;
			grid-gap: 1rem;
		}
		img {
			padding: 0.75rem 0;
			@media only screen and (max-width: 600px) {
				padding: 0;
			}
		}
		.nav-links-container {
			display: flex;
			flex-direction: column;
			justify-self: end;
			justify-content: flex-end;
			text-align: right;
			@media only screen and (max-width: 600px) {
				display: none;
				background: white;
				position: absolute;
				top: 0;
				width: 100%;
				height: 150px;
				justify-content: center;
				text-align: center;
				flex-direction: row;
				align-items: center;
			}
			.phone {
				width: 8%;
				margin-right: 0.5rem;
				@media only screen and (max-width: 800px) {
					width: 15%;
				}
				@media only screen and (max-width: 600px) {
					display: none;
				}
			}
			a {
				font-family: $main-font;
				color: $font-color-primary;
			}
			.tel {
				display: inline-flex;
				justify-content: flex-end;
				align-items: center;
				@media only screen and (max-width: 600px) {
					display: none;
				}
			}
		}
	}
}

.main-logo {
	align-self: center;
}

//Mobile nav styles
.mobile-phone {
	display: none;
	width: 100%;
	@media only screen and (max-width: 600px) {
		display: block;
	}
}

.mobile-menu {
	display: none;
	@media only screen and (max-width: 600px) {
		display: block;
	}
	div {
		width: 35px;
		height: 5px;
		background-color: black;
		margin: 6px 0;
	}
}

.nav {
	display: flex;
	ul {
		display: flex;
		margin-bottom: 0.2rem;
		@media only screen and (max-width: 600px) {
			display: block;
		}
		li {
			padding: 0.6rem 0.75rem;
			margin-left: 1rem;
			font-weight: $font-semi-bold;
			@media only screen and (max-width: 800px) {
				padding: 0.5rem;
				margin-left: 0.5rem;
				font-size: $font-s;
			}
			@media only screen and (max-width: 600px) {
				color: $color-primary;
				font-weight: $font-semi-bold;
			}
			&:hover {
				background: $color-secondary;
			}
		}
	}
}

.header-wrapper {
	background: url('../images/background-one.jpg');
	background-size: cover;
	background-position: center 25%;
	background-repeat: no-repeat;
	height: 525px;
	color: $font-color-primary;
	@media only screen and (max-width: 800px) {
		background: none;
		height: auto;
	}
	div {
		grid-template-columns: auto 40%;
		justify-content: space-between;
		align-items: end;
		@media only screen and (max-width: 800px) {
			grid-template-columns: 1fr;
		}
		.header-text {
			font-size: $font-xl;
			background: $color-bkg;
			padding: 1rem 1rem 1rem 0rem;
			font-weight: $font-semi-bold;
			@media only screen and (max-width: 800px) {
				text-align: center;
				font-size: $font-l;
				padding: 2rem;
			}
		}
		.header-text-container {
			@media only screen and (max-width: 800px) {
				background: url('../images/background-one.jpg');
				background-size: cover;
				background-position: center;
			}
		}
	}
}

#header-wrapper-pro {
	background: url('../images/background-pro.jpg');
	background-size: cover;
	background-position: center 25%;
	background-repeat: no-repeat;
}

#header-wrapper-why {
	background: url('../images/background-why.jpg');
	background-size: cover;
	background-position: center 25%;
	background-repeat: no-repeat;
}
