// section one
.section-one-container {
	padding: 3rem 0;
	grid-template-columns: 1fr 1fr;
	justify-items: center;
	align-items: center;
	grid-gap: 3rem;
	color: $font-color-secondary;
	padding-top: 3rem;
	padding-bottom: 3rem;
	@media only screen and (max-width: 800px) {
		grid-template-columns: 1fr;
	}
	.section-one-title-container {
		grid-column: span 2;
		@media only screen and (max-width: 800px) {
			grid-column: span 1;
		}
		.section-one-title {
			font-size: $font-xxl;
			margin-bottom: 1.5rem;
			font-style: italic;
			text-align: center;
			@media only screen and (max-width: 800px) {
				font-size: $font-l;
			}
		}
		.section-one-subtitle {
			font-style: italic;
			font-size: $font-l;
			text-align: center;
			@media only screen and (max-width: 800px) {
				font-size: $font-m;
			}
		}
	}
	.section-one-img {
		border-radius: 100px;
		width: 100%;
	}

	.section-one-text {
		font-size: $font-r;
		line-height: 1.5;
	}
}

//Section One Reverse - Programs Page
.section-one-rev {
	background: none;
}
.section-one-container-rev {
	padding: 4rem 0;
	grid-template-columns: 1fr 1fr;
	grid-gap: 3rem;
	color: $font-color-secondary;
	@media only screen and (max-width: 800px) {
		grid-template-columns: 1fr;
	}
	img {
		@media only screen and (max-width: 800px) {
			grid-row: 2;
		}
	}
	.section-one-rev-title {
		font-size: $font-m;
		font-weight: $font-bold;
		margin-bottom: 1rem;
	}
	h3 {
		margin: 1.5rem 0;
		font-weight: $font-bold;
		font-size: $font-r;
	}
	ul {
		margin-top: 1.5rem;
		li {
			margin-bottom: 0.5rem;
			font-weight: $font-semi-bold;
		}
		li::before {
			content: '• ';
			color: red;
		}
	}
}
// Section One No-Rev
.section-one-no-rev {
	background: $color-bkg-two;
}

// Section One Container Why
#section-one-why {
	background: $color-bkg-two;
	strong {
		font-weight: $font-bold;
	}
}
#section-one-container-why {
	grid-template-columns: 1fr;
	justify-items: start;
	grid-gap: 1rem;
	.section-one-title-container-why {
		justify-self: center;
		margin-bottom: 1rem;
		.section-one-title {
			font-size: $font-xxl;
			justify-self: center;
			font-style: italic;
			@media only screen and (max-width: 800px) {
				font-size: $font-l;
			}
		}
		.section-one-subtitle {
			font-style: italic;
			font-size: $font-l;
			//text-align: center;
			@media only screen and (max-width: 800px) {
				font-size: $font-m;
			}
		}
	}
	ul {
		li {
			margin-bottom: 0.5rem;
			font-weight: $font-semi-bold;
		}
		li::before {
			content: '• ';
			color: red;
		}
	}
}

.why-titles {
	font-size: $font-xl;
	justify-self: center;
	font-style: italic;
	line-height: 1;
	margin-bottom: 1.5rem;
	text-align: center;
	@media only screen and (max-width: 800px) {
		font-size: $font-l;
	}
}

// section two
.section-two {
	background: $color-primary;
	padding: 3rem 0;
	color: $font-color-primary;
}

.section-two-container {
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 1rem;
	justify-items: center;
	@media only screen and (max-width: 800px) {
		grid-template-columns: 1fr;
	}
	.section-two-title-container {
		grid-column: span 5;
		text-align: center;
		@media only screen and (max-width: 800px) {
			grid-column: span 1;
		}
		.section-two-title {
			font-style: italic;
			font-size: $font-xxl;
			margin-bottom: 1.5rem;
			@media only screen and (max-width: 800px) {
				font-size: $font-l;
			}
		}
		.section-two-subtitle {
			margin: 0 auto 1.5rem auto;
			width: 75%;
			line-height: $line-height-secondary;
			@media only screen and (max-width: 800px) {
				width: auto;
			}
		}
	}
}

.section-two-item {
	background: $white-color;
	display: flex;
	flex-direction: column;
	text-align: center;
	img {
		width: 100%;
	}
	.item-title {
		color: $font-color-secondary;
		font-size: $font-r;
		font-weight: $font-regular;
		margin-bottom: 1rem;
		font-weight: $font-bold;
		padding: 1rem;
		line-height: $line-height-secondary;
		margin-bottom: auto;
	}
}

.item-link {
	color: $font-color-secondary;
	font-size: $font-xs;
	font-weight: $font-semi-bold;
	padding: 0.2rem;
	&:hover {
		color: $font-color-secondary;
	}
}

//Programs Page
#section-two-programs {
	background: $color-bkg-two;
	color: $font-color-secondary;
	.section-two-item {
		background-color: $color-form;
	}
}

// Section 3
.section-three {
	padding: 3rem 0;
	background: $color-bkg-two;
}
.section-three-container {
	grid-template-columns: 1fr 1fr 1fr;
	justify-items: center;
	color: $font-color-secondary;
	grid-gap: 3rem;
	@media only screen and (max-width: 800px) {
		grid-template-columns: 1fr;
	}
	.section-three-title {
		grid-column: span 3;
		font-style: italic;
		font-size: $font-xxl;
		text-align: center;
		@media only screen and (max-width: 800px) {
			grid-column: span 1;
			font-size: $font-l;
		}
	}
}

.box-content {
	background-color: $color-form;
	border-radius: 50px;
	text-align: center;
	width: 17rem;
	padding: 2rem 3rem 4rem 3rem;
	font-size: $font-m;
	line-height: $line-height-secondary;
	@media only screen and (max-width: 900px) {
		width: 14rem;
		padding: 1rem;
	}
	@media only screen and (max-width: 800px) {
		width: 20rem;
		padding: 2rem 3rem 4rem 3rem;
	}
}

.box-title {
	margin-bottom: 1rem;
	font-size: $font-l;
	text-align: center;
	font-style: italic;
}

.section__box--container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

//Section 4
.section-four {
	background: $color-primary;
	padding: 3rem 0;
	color: $font-color-primary;
	.section-four-container {
		grid-template-columns: 1fr;
		justify-items: center;
		grid-gap: 1rem;
		.section-four-title {
			font-size: $font-xxl;
			font-style: italic;
			text-align: center;
			@media only screen and (max-width: 800px) {
				font-size: $font-l;
			}
		}
		img {
			border-radius: 50%;
			width: 100%;
			max-width: 15%;
		}
		.section-four-text {
			width: 60%;
			text-align: center;
		}
	}
}

//Section 5
.section-five {
	background: $color-form;
	@media only screen and (max-width: 800px) {
		background: none;
		padding-bottom: 2rem;
	}
	a {
		margin: auto;
	}
	button {
		background: $color-form;
		border: 4px solid $color-primary;
		padding: 1rem 3rem;
		color: $color-primary;
		font-size: $font-r;
		&:hover {
			color: $font-color-primary;
			background: $color-primary;
			cursor: pointer;
		}
		@media only screen and (max-width: 800px) {
			background: none;
		}
	}
	.section-five-container {
		text-align: center;
		padding-top: 2rem;
		padding-bottom: 2rem;
		p {
			font-size: $font-l;
			margin-bottom: 1rem;
			@media only screen and (max-width: 700px) {
				font-size: $font-m;
			}
		}
	}
}
